* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

/* rgb(246, 55, 55); */
#root {
    height: 100vh;
}
:root {
    --bgColor : rgb(49, 49, 49);
    --mainColor: rgb(127, 53, 197);
}

html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-track {
    background: var(--bgColor);
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

body {
    background-color: var(--bgColor);
    overflow-x: hidden;
}
